@{
    ViewBag.Title = "Inicio";
}
<div class="row">
    <div class="col">
        <form class="card p-4" id="formCotizar">
            <div class="mb-3">
                <label for="brand" class="form-label">Marca</label>
                <select class="form-control" id="brand" required>
                    <option value="">-- Seleccione --</option>
                    @foreach (var item in ViewBag.CatMarca)
                    {
                        <option value="@item.Id">@item.BrandName</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Modelo</label>
                <select class="form-control" id="model" disabled required>
                </select>
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">¿Cuál es el año del modelo que quieres?</label>
                <select class="form-control" id="year" disabled required name="year">
                </select>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">¿Cuánto cuesta el auto que quieres?</label>
                <input type="text" class="form-control money" id="price" maxlength="9" min="7" required>
                <div id="priceHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="hitch" class="form-label">¿Cuánto quieres dar de enganche?</label>
                <input type="text" class="form-control money" id="hitch" maxlength="9" required>
                <div id="hitchHelp" class="form-text"></div>
            </div>
            <button type="submit" class="btn btn-primary" id="btnCotizar">Cotizar</button>
        </form>
    </div>
    <div class="col">
        <img id="imgBanner" class="img-banner" src="~/Content/images/banner.jpg" />
        <div id="simulate" class="d-none">
            <img class="img-cotiza" src="~/Content/images/img-cotiza.png" />
            <h4 class="text-center">Tu crédito sería de</h4>
            <span id="total" class="text-center money"></span>
            <h4 class="text-center">¿Cuánto quieres pagar al mes?</h4>
            <button type="button" class="btn btn-danger" id="btnSimulate">Calcular</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mdlMounths" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Cuánto quieres pagar al mes?</h5>                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="mdlMounthsBody">                
            </div>            
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/modulos/home.js"></script>
}