:root {
    --main-color: black;
    --second-color: #c2321f;
}


.main-nav{
    background-color:var(--main-color)!important;    
}

.main-logo{
    width:8vh;
    margin-left:5vw;    
}

.navbar-brand {
    color: white;
}

.text-title {
    display: flex;
    align-items: center;
    font-size:2rem;
}

.text-title img{
    margin-right:20px;
}

.img-banner{
    display:block;
    height:100%;
    width:100%;
    border-radius:5px;
}

.body-content{
    padding-top:20px;
}

.container {
    width:65%;
}

.btn-primary {
    background-color: #2A4B80
}

.form-text{
    color:red;
}

.btn:disabled{
    background-color:darkgray;
    cursor:not-allowed;
}

.img-cotiza{
    display:block;
    margin: auto auto 10px;
    width :20%;
    height : 15%; 
}

#simulate {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    padding :15% 5%;
}

#simulate h4,span{
    line-height:1.8em;
    font-size : 1.8em;
}

#btnSimulate {
     display:block;
     width:100%;
     margin-top:15%;
 
}